@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    text-shadow: 2px 1px 1px #737373;
}

.headings{
    text-shadow: 2px 1px 1px #fff;
}

*{
    transition: color, background 0.25s, 0.25s ease-in;
}

.book{
    perspective: 2555rem;
    perspective-origin: 0rem 50rem;
}

.page div::-webkit-scrollbar{
    display: none;
}

.page{
    transition: transform 1s ease-in;
    transform-origin: left center;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 550rem;
    perspective-origin: left left;
}
.page-turn{
    transform: rotateY(180deg);
    z-index: 50;
}
.page-turn-back{
    transform: rotateY(0deg);
    z-index: 50;
}

.front{
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}


@keyframes arrow{
    from{
        color: currentColor;
        margin-left: -2rem;
        opacity: 0.5;
    }
    to{
        margin-left: 0;
        color: #F2932F;
        opacity: 1;
    }
}

