@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    text-shadow: 2px 1px 1px #737373;
}

.headings{
    text-shadow: 2px 1px 1px #fff;
}

*{
    transition: color, background 0.25s, 0.25s ease-in;
}

@keyframes turn{
    0%{
        transform: skewY(0deg);
    }
    100%{
        transform: skewY(20deg);
    }
}

.book{
    perspective: 2555rem;
    perspective-origin: 0rem 50rem;
}

.page div::-webkit-scrollbar{
    display: none;
}

.page{
    transition: transform 1s ease-in;
    transform-origin: left center;
    transform-style: preserve-3d;
    cursor: pointer;
}
.page-turn{
    transform: rotateY(180deg);
    z-index: 50;
}
.page-turn-back{
    transform: rotateY(0deg);
    z-index: 50;
}

.front{
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
