@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    text-shadow: 2px 1px 1px #737373;
}

.headings{
    text-shadow: 2px 1px 1px #fff;
}

*{
    transition: color, background 0.25s, 0.25s ease-in;
}

/* .card .image:nth-child(even){

} */
