:root{
overflow-x: hidden;
}

.cont {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
    /* background-color: rebeccapurple; */
    /* height: 2.5rem; */
}

@media screen and (max-width:1536px) {
    .cont {
        max-width: 1366px;
    }

}

@media screen and (max-width:1366px) {
    .cont {
        max-width: 1024px;
    }

}

@media screen and (max-width:1024px) {
    .cont {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }

}
@media screen and (max-width:768px) {
    .cont {
        max-width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width:640px) {
    .cont {
        max-width: 475px;
    }

}
